* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(207, 250, 236);

}

#card {
    height: 50%;
    width: 60%;
    /* border: 2px solid black; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 0 10px 9px rgba(0, 0, 0, 0.2);
}
p{
    text-align: center;
}

#image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.directionArrow {
    border: none;
}

h3{
    color: #3E80CC;
}

#btn-2 {
    padding: 3px;
    color: #3E80CC;
    border: 0.5px solid #3E80CC;
    border-radius: 5px;
    
}